<div class="fc-wrap" ng-init="$ctrl.setActive('today')">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <h4><a ui-sref="home"><i class="material-icons">first_page</i></a><em>Weather for: {{$ctrl.place}}</em></h4>
            <div class="panel panel-info fc-wrap__panel">
                <div class="panel-heading fc-wrap__panel-heading">
                    <div class="btn-group">
                        <a ng-repeat="(key, val) in $ctrl.filters" ng-model="$ctrl.filters[key]" class="btn fc-wrap__button" ng-click="$ctrl.setActive(key)"
                            ng-class="{'fc-wrap__button--active': $ctrl.filters[key] === true}">{{key}}</a>
                    </div>
                </div>
                <div class="panel-body">
                    <div ng-repeat="w in $ctrl.data">
                        <div class="well well-lg fc-wrap__well">
                            <span class="fc-wrap__well__date">
                                {{ $ctrl.convertToDate(w.dt) | date: 'dd. MMM, y'}}
                            </span>
                            <div class="row">
                                <div class="col-md-4 fc-wrap__well__weather">
                                    <weather-icons data-w="w"></weather-icons>
                                </div>
                                <div class="col-md-6 fc-wrap__well__temperature">
                                    <temperature data-w="w"></temperature>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>